# Operating System Files
.DS_Store
Thumbs.db

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment and Secrets
.env
.env.*
*.pem
*.key

# Editor & IDE
.idea/
.vscode/
*.swp
*.swo
